<h1>Twitter Scan</h1>
<hr>
<h2>Add Accounts</h2>
<p>Enter the users Twitter handle below to pull their data from the API</p>
<br>
<%= form_tag("/home/addaccount") do %>
  <%= label_tag(:username, "Add username:") %>
  <%= text_field_tag(:username) %>
  <%= submit_tag("Add") %>
<% end %>
<hr>
<h2>Manage existing accounts</h2>
